tensorflow==2.7.2
tensorflow-addons==0.9.1
umap-learn
h2o -f http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html
kedro
mlflow
hydra-core
xeus-python
ptvsd
kaggle
boto3
awscli
plotly
catboost
#pandas-profiling
tensorflow_datasets
pydot
pyarrow
